<div class="header header-compact header-sm">
  <div class="top-bar navbar-nav">
    {{ j3.settings.get('desktop_top_menu') }}

    {% if j3.settings.get('langPosition') == 'top' %}
      <div class="language-currency top-menu">
        <div class="desktop-language-wrapper">
          {{ language }}
        </div>
        <div class="desktop-currency-wrapper">
          {{ currency }}
        </div>
      </div>
    {% endif %}

    <div class="third-menu">{{ j3.settings.get('desktop_top_menu_3') }}</div>

    {% if j3.settings.get('secondaryMenuPosition') == 'top' %}
      <div class="top-menu secondary-menu">{{ j3.settings.get('desktop_top_menu_2') }}</div>
    {% endif %}
  </div>

  <div class="mid-bar navbar-nav">
    {# ✅ ЛОГО СНАЧАЛА #}
    <div class="desktop-logo-wrapper">
      <div id="logo">
        {% if j3.settings.get('logo_src') %}                        
          <a href="{{ home }}">
            <img src="{{ j3.settings.get('logo_src') }}"
                 {% if j3.settings.get('logo2x_src') %}
                   srcset="{{ j3.settings.get('logo_src') }} 1x, {{ j3.settings.get('logo2x_src') }} 2x"
                 {% endif %}
                 width="{{ j3.settings.get('logo_width') }}"
                 height="{{ j3.settings.get('logo_height') }}"
                 alt="{{ name }}" title="{{ name }}"/>
          </a>
        {% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
        {% endif %}
      </div>
    </div>

    {# ✅ МЕНЮ ПОСЛЕ ЛОГОТИПА #}
    <div class="desktop-main-menu-wrapper navbar-nav">
      {{ j3.document.hasClass('mobile-header-active') ? '' : j3.settings.get('desktop_main_menu') }}
    </div>

    {# ✅ ОСТАЛЬНОЕ (поиск, корзина и т.п.) #}
    <div class="header-cart-group">
      {% if j3.settings.get('langPosition') == 'search' %}
        <div class="language-currency top-menu">
          <div class="desktop-language-wrapper">
            {{ language }}
          </div>
          <div class="desktop-currency-wrapper">
            {{ currency }}
          </div>
        </div>
      {% endif %}

      {% if j3.settings.get('secondaryMenuPosition') == 'cart' %}
        <div class="top-menu secondary-menu">{{ j3.settings.get('desktop_top_menu_2') }}</div>
      {% endif %}

      {% if j3.settings.get('catalogSearchStatus') %}
        <div class="desktop-search-wrapper mini-search">
          {{ search }}
        </div>
      {% endif %}

      <div class="desktop-cart-wrapper">
        {{ cart }}
      </div>
    </div>
  </div>
</div>
<style>
#content{
  background: #1b1b1b!important;
}

.breadcrumb{
  background: #1b1b1b!important;
}

.breadcrumb>li+li:before{
  color: white!important;
}

.breadcrumb a{
  color: white!important;
}

.breadcrumb a:hover{
  color: #F35196!important;
}



.site-wrapper{
  background: #1b1b1b!important;
}

  .module-master_slider-26 .ms-bullet-selected{
    width: 63px !important;
  }
  .grid-row-top-3{
    background:rgba(0, 0, 0, 0.12) !important;
  }

  .product-thumb{
    width: 315px!important;
    height: 481px!important;
    margin-right: 10px!important;
    background: #212122!important;
    border: none!important;
    padding: 0px!important;
  }

  .btn-wishlist:hover{
  color: #F35196!important;
}

.product-label-default.product-label-29{
 
}

.accordion-menu-19.accordion-menu .j-menu  .links-text{
  color: #ffff ;
  font-size: 20px;
  padding: 3px;

}

.accordion-menu-19.accordion-menu .j-menu .j-menu .links-text:hover{
  background: #F35196!important;
}

.desktop .accordion-menu-19.accordion-menu .j-menu .j-menu > li:hover > a, .accordion-menu-19.accordion-menu .j-menu .j-menu>li.active>a{
   background: #F35196!important;
}

.accordion-menu .j-menu > li{
  border-bottom: 1px white solid;
}

.side-column{
  background: #1b1b1b!important;
  
}

.grid-cols .grid-col-column-left-1-1,
.grid-cols .grid-col-column-left-1-2 {
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 40px -22px rgba(243, 81, 150, 1);
-moz-box-shadow: 0px 0px 40px -22px rgba(243, 81, 150, 1);
box-shadow: 0px 0px 40px -22px rgba(243, 81, 150, 1);
}

.accordion-menu-item-2{
  margin-top: 50px!important;
}

.refine-categories, .refine-carousel {
  display: none !important;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.module-filter-36 .module-item-t .panel-body > div > label input+*{
  color: white!important;
}

.module-filter-36 .module-item-t .panel-body > div > label input+*:hover{
  color: #F35196!important;
}


.popup-quickview.popup-body, .popup-quickview.popup{
  background: #1b1b1b!important;
}

.route-product-product.popup-quickview .product-info .product-details .button-group-page{
   background: #1b1b1b!important;
}

.products-filter{
  display: none !important;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}




</style>