<!-- admin/view/template/extension/module/documentation.twig -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">


<h1>{{ heading_title }}</h1>

<div class="card" style="width: 100rem;">
  <div class="card-body">
    <p class="card-text">{{documentation_add_product}}</p>
  </div>
  <img src="view/image/addProduct.png" class="card-img-top" alt="...">
</div>

<div class="card" style="width: 100rem; margin-top: 10px;">
  <div class="card-body">
    <p class="card-text">{{documentation_general}}</p>
  </div>
  <img src="view/image/all.png" class="card-img-top" alt="...">
</div>

<div class="card" style="width: 100rem; margin-top: 10px;">
  <div class="card-body">
    <p class="card-text">{{documentation_data}}</p>
  </div>
    <img src="view/image/data.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-text" style="margin-top: 5px;">{{documentation_data_dop}}</h2>
  </div>
  <img src="view/image/data_dop.png" class="card-img-top" alt="...">
</div>

<div class="card" style="width: 100rem; margin-top: 10px;">
  <div class="card-body">
    <p class="card-text">{{documentation_link}}</p>
  </div>
  <img src="view/image/link.png" class="card-img-top" alt="...">
</div>

<div class="card" style="width: 100rem; margin-top: 10px;">
  <div class="card-body">
    <p class="card-text">{{documentation_attribute}}</p>
  </div>
  <img src="view/image/attribute.png" class="card-img-top" alt="...">
</div>

<div class="card" style="width: 100rem; margin-top: 10px;">
  <div class="card-body">
    <p class="card-text">{{documentation_option}}</p>
  </div>
  <img src="view/image/option.png" class="card-img-top" alt="...">
</div>

<div class="card" style="width: 100rem; margin-top: 10px;">
  <div class="card-body">
    <p class="card-text">{{documentation_image}}</p>
  </div>
  <img src="view/image/image.png" class="card-img-top" alt="...">
</div>

<div class="card" style="width: 100rem; margin-top: 10px;">
  <div class="card-body">
    <p class="card-text">{{documentation_seo}}</p>
  </div>
  <img src="view/image/seo.png" class="card-img-top" alt="...">
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>